@font-face {
    font-family: 'PokeFont';
    src: url('./public/font/Poke1.ttf') format('truetype');
    font-weight: 700;
}

@tailwind base;

@layer base {
    body {
        @apply font-pokeFont;
        overflow: hidden;
    }
}
@tailwind components;
@tailwind utilities;

#getCoins::before {
    content: '';
    opacity: 0.3;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #004;
}
