@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PokeFont';
    src: url('./assets/font/Poke1.ttf') format('truetype');
    font-weight: 700;
}

/*
#root {
    font-family: 'PokeFont';
}
*/

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#getCoins::before {
    content: '';
    opacity: 0.3;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #004;
}
