@font-face {
    font-family: 'PokeFont';
    src: url('./assets/font/Poke1.ttf') format('truetype');
    font-weight: 700;
}

@tailwind base;
@layer base {
    body {
        @apply font-pokeFont;
        /*
        @apply 이후 적용할 tailwindcss 문법 적용
        ex) h1 text-xl
        */
        overflow: hidden;
    }
}
@tailwind components;
@tailwind utilities;

#getCoins::before {
    content: '';
    opacity: 0.3;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #004;
}
